<tr>
	<td>{{aProduct.price}}</td>
	<td><img src="{{aProduct.image}}" style="width:100%"></td>
	<td>{{aProduct.name}}</td>
	<td>{{aProduct.to}}</td>
	<td>{{aProduct.from}}</td>
	<td>{{aProduct.repackaged}}</td>
	<td><a target="_blank" href="{{aProduct.link}}">{{aProduct.link}}</a></td>
</tr>