{% extends 'base.twig' %} 

{% block content %}

<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Price</th>
			<th scope="col">Image</th>
			<th scope="col">Title</th>
			<th scope="col">to</th>
			<th scope="col">from</th>
			<th scope="col">repackaged</th>
			<th scope="col">link</th>
		</tr>
	</thead>
	<tbody>
	{% for wProduct in aProducts %}
	{% include 'produit.twig'  with {'aProduct': wProduct} only %}
	{% endfor %}
	</tbody>
	<tfoot class="thead-dark">
		<tr>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
		</tr>
	</tfoot>
</table>

{% endblock content %}
